<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>407399549705-cqh42d7sld6c9o9m0669ob1r93ebcrfi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407399549705-cqh42d7sld6c9o9m0669ob1r93ebcrfi</string>
	<key>API_KEY</key>
	<string>AIzaSyCwkAwzjAiRemS2AHW2jsz6nbsyuVFDA_E</string>
	<key>GCM_SENDER_ID</key>
	<string>407399549705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MCORE.FitKeeper</string>
	<key>PROJECT_ID</key>
	<string>fitkeeper-e9117</string>
	<key>STORAGE_BUCKET</key>
	<string>fitkeeper-e9117.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:407399549705:ios:4c02475fe5f471e2</string>
	<key>DATABASE_URL</key>
	<string>https://fitkeeper-e9117.firebaseio.com</string>
</dict>
</plist>